# Project specs
StudioOps_V1_Master_Build_Specification.md
StudioOps_V1_Technical_Build_Spec.md
StudioOps_Master_UI_Build_Specification.md

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.env.*

# Editors
.vscode/
.DS_Store

# OS
Thumbs.db
node_modules
